[submodule "ros_canopen"]
	path = ros_canopen
	url = https://github.com/ros-industrial/ros_canopen
[submodule "orientus_driver"]
	path = orientus_driver
	url = https://github.com/RIVeR-Lab/orientus_driver
[submodule "advanced_navigation_driver"]
	path = advanced_navigation_driver
	url = https://github.com/ros-drivers/advanced_navigation_driver
